<launch>
    <rosparam command="load" file="$(find tobouk_core)/lib_actions/dialogs.yaml"/>
    <rosparam command="load" file="$(find tobouk_core)/lib_actions/actions.yaml"/> 
    <param name="action_lib_path" type="str" value="$(find tobouk_core)/lib_actions/"/>
    <param name="nao_state" type="str" value="bussy"/>
    <param name="trigger_rate" type="int" value="15"/>
    
    <node pkg="tobouk_core" type="tobouk_core_node" name="tobo_core_node" output="screen"/>
</launch>
